        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/knobots/<%=robot._id%>">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/control">
                  <span data-feather="navigation"></span>
                  Control
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/telepresence">
                  <span data-feather="eye"></span>
                  Telepresence
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/media">
                  <span data-feather="video"></span>
                  Media
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/voice">
                  <span data-feather="mic"></span>
                  Voice
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/chatbot">
                  <span data-feather="message-square"></span>
                  Chatbot
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/mapper">
                  <span data-feather="compass"></span>
                  Mapper
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/map">
                  <span data-feather="map"></span>
                  Maps
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/nav">
                  <span data-feather="map-pin"></span>
                  Navigate
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/stat">
                  <span data-feather="bar-chart-2"></span>
                  Stats
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/mission">
                  <span data-feather="layers"></span>
                  Mission
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/edit">
                  <span data-feather="edit"></span>
                  Edit
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/sched">
                  <span data-feather="watch"></span>
                  Schedule
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/vision">
                  <span data-feather="eye"></span>
                  Vision
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/conference">
                  <span data-feather="film"></span>
                  Conference
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/knobots/<%=robot._id%>/screen" target="_blank">
                  <span data-feather="settings"></span>
                  Screen
                </a>
              </li>
            </ul>
          </div>
        </nav>
