<% layout('layouts/boilerplate')%>

<div id="app" class="container-fluid">
   <div class="row">
        <%- include('./jobotSidebar')%>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">OAK-D Vision @(<%= robot.title %>) </h1>
            <b>
              <p class="text-danger" v-if="!connected">Not connected!</p>
    				  <p class="text-success" v-if="connected">Connected!</p>
              <p class="text-success">{{ rosbridge_address }}</p>
            </b>
            <input type="hidden" id="current_user_id" name= "current_user_id" value="<%= currentUser._id %>" />
            <input type="hidden" id="connecturl" name="connecturl" value="<%= robot.connecturl %>" />
            <input type="hidden" id="robot_id" name="robot_id" value="<%= robot.id %>" />
            <button :disabled="loading" class="btn btn-danger" @click="disconnect" v-if="connected">Disconnect!</button>
    				<button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
            <button :disabled="loading" class="btn btn-success" @click="remote"><span data-feather="cast"></span></button>
          </div>
          <div class="row align-items-center mt-4">
         		<img id="my_oak" src="<%=robot.images[0].url%>" class="figure-img img-fluid" alt="Responsive video stream from Jobot">
         	  <figcaption class="figure-caption">Compressed image stream from Jobot OAK-D camera.</figcaption>
         </div>
         <hr>
         <div class="col-md-12 mb-4 text-center">
             <button @click="setOakRaw" :disabled="loading || !connected" class="btn btn-warning btn-lg">Raw</button>
             <button @click="setOakAnnotated" :disabled="loading || !connected" class="btn btn-warning btn-lg">Annotated</button>
             <button @click="setOakDepth" :disabled="loading || !connected" class="btn btn-warning btn-lg">Depth</button>
             <button @click="setOak" :disabled="loading || !connected" class="btn btn-warning btn-lg">Detections</button>
             <button @click="visionAction('start')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Start</button>
             <button @click="visionAction('stop')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Stop</button>
             <br>
             <button @click="visionAction('start|yolo')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Yolo</button>
             <button @click="visionAction('start|mask')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Mask</button>
             <button @click="visionAction('start|rangefinder')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Range</button>
             <button @click="visionAction('start|frec')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Face Id</button>
             <button @click="visionAction('start|flrn')" :disabled="loading || !connected" class="btn btn-warning btn-lg">Learn Id</button>
             <label class="form-label" for="map_name">Nickname: </label>
             <input type="text" size="16" v-model="face_nick_name" name="face_nick_name" id="face_nick_name"/>
         </div>
         <hr>
         <div class="row align-items-center mt-4" id="status">
           <div class="col-md-8 text-center">
             <label>Log: </label>
             <input type="text" size="80" v-model="running_mission_log" disabled />
           </div>
           <div class="col-md-4 text-center">
             <div class="button-grid">
               <button :disabled="!connected" @click="robotLock" class="btn btn-warning btn-lg">Lock</button>
               <button :disabled="!connected" @click="robotUnlock" class="btn btn-danger btn-lg">UnLock</button>
            </div>
          </div>
         </div>
         <hr>
         <div class="col-md-12 text-center">
           <p>Detections: [{{ oak_detected_name }} ({{ oak_detected_confidence }}) - {{ oak_detected_person_standing }}] </p>
         </div>
         <hr>
         <div class="row" id="status">
              <div class="w-100 text-center">
               <hr>
               <label>Workflow: </label>
               <input type="text" size="40" v-model="current_workflow_name" disabled />
               <label>Battery: </label>
               <input type="number" v-model.number="current_battery_voltage.toFixed(2)" disabled />
               <input type="number" v-model.number="current_battery_capacity" disabled />
               <hr>
               <label>Log: </label>
               <input type="text" size="80" v-model="running_mission_log" disabled />
               <hr>
               <button :disabled="!current_hardware.st_Ros_BumpFront" class="btn btn-info btn-lg">Bumper Front</button>
               <button :disabled="!current_hardware.st_Ros_BumpRear" class="btn btn-info btn-lg">Bumper Rear</button>
               <button :disabled="!current_hardware.st_Ros_Recharge_On" class="btn btn-info btn-lg">Recharge On</button>
               <button :disabled="!current_hardware.st_Ros_Recharge_Ok" class="btn btn-info btn-lg">Recharge Ok</button>
               <button :disabled="!current_hardware.st_Ros_Emergenza" class="btn btn-info btn-lg">Emergency</button>
               <hr>
              </div>
         </div>
        </main>
   </div>
</div>

<script type="text/javascript" src="/javascripts/eventemitter2.js"></script>
<script type="text/javascript" src="/javascripts/roslib.js"></script>
<script type="text/javascript" src="/javascripts/three.min.js"></script>
<script type="text/javascript" src="/javascripts/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/vue.min.js"></script>
<script type="text/javascript" src="/javascripts/vuejs-datepicker.js"></script>
<!-- Main -->
<script type="text/javascript" src="/javascripts/main.js"></script>
<!-- Icons -->
<script type="text/javascript" src="/javascripts/feather.min.js"></script>
<script>
  feather.replace()
</script>
